@page
@model WebApp.Pages.StaffPage.BookManagement.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
@{
    Layout = "_LayoutStaff";
}
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />

    <div class="container-fluid py-5 mt-5">
        <div class="container py-5">
            <div class="row g-4 mb-5">
                <div class="col-lg-8 col-xl-9">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="border rounded">
                                <a href="#">
                                    <img src="@Model.Book.ImagePath" class="img-fluid rounded" alt="Image">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="fw-bold mb-3">@Model.Book.Title</h4>
                            <p class="mb-3">Loại sách : @Model.Book.Category.CategoryName</p>
                            <p class="mb-3">Nhà phát hành : @Model.Book.Publisher.PublisherDescription</p>
                            <p class="mb-3">Ngày phát hành : @Model.Book.PublishDate</p>
                            <h5 class="fw-bold mb-3">VND @Model.Book.Price</h5>
                            <p class="mb-4">@Model.Book.Description</p>
                            <form method="post">
                                <input type="hidden" asp-for="Book.BookId" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a asp-page="./Index">Back to List</a>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
